@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
/* globals.css */
:root {
  --primary-color: #086ad8;
  --secondary-color: white;
  --background-color: #f3f7fd;
  --text-color: #333333;
}

body {
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
}

.experience-text-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
}

.navbar{
  position: sticky;
}